

/*AddToDo */

.button, .refreshButton{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: flexbox;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 4px 15px;
  cursor: pointer;
}

.input{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  margin: 4px 15px;
  min-height: 30px;
  min-width: 300px;
}