

/*Footer */

.tableFooter {
  padding: 25px 0px;
  width: 100%;
  font-weight: 400;
  text-align: left;
  
  color: #2c3e50;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative;
  top: 10px; */
}

.button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 80px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
  font-size: 16px !important;
  
}

.activeButton {
  border: 3px solid white;
 
}

.inactiveButton {
  border: none;
  
}



