
.App {
  font-family: sans-serif;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}


.spinner-center {
  color: green;
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}